var moment = require('moment');

extends ./layouts/layout.jade

block content
  .row
    .col-xs-12.col-sm-5.col-md-4.col-lg-3
      .panel.panel-primary
        .panel-heading
          .panel-title My Picks
        .panel-body.panel-black
          .list-group
            each month in addableUserMonths
              a.list-group-item(href='/new-month/#{month}')
                h5.text-center= moment(month).format('MMMM')
            each month in existingUserMonths
              a.list-group-item(href='/month/#{month}')
                h5.text-center= moment(month).format('MMMM')
      .panel.panel-default
        .panel-heading
          .panel-title Standings
        .panel-body.panel-black
          if (existingUserMonths && existingUserMonths.length>0)
            .list-group
              each month in existingUserMonths
                a.list-group-item(href='/standings/#{month}')
                  h5.text-center= moment(month).format('MMMM')
          else
            p Once you make some picks, you'll be added to the monthly standings and a link will appear here. 
      .panel.panel-default
        .panel-heading
          .panel-title Known Issues
        .panel-body
          ul
            li
              strong Slow loading:
              | &nbsp; Sometimes the server takes ~3 seconds to "wake up" when you navigate to the site. This is a necessary by-product of the free hosting service I'm using.

    .col-xs-12.col-sm-7.col-md-8.col-lg-9
      .jumbotron
        .panel-boody
          h4 Welcome!
          p Thanks for signing up for the beta. Feel free to poke around the site; the most important bit is the My Picks page. If you've signed up at the end of October, I encourage you to go ahead and make some picks in October to get a feel for things. You're also free to begin mapping out your November selections. Picks can be added or updated right up until the listed start time for a game, so don't be afraid to start clicking on games.
          p This app is a work in progress. I welcome ideas for improvement, bug reports, or points of confusion. Feel free to use the Feedback Form link above, or to contact me through other means.
          p I'm still refining the user interface and aesthetics, so don't be surprised if you see some elements move around over time. I'm also still hoping to add a few more features, so keep your eyes open for:
          ul
            li A more robust Standings page.
            li A basic chat component.
            li Live NBA scores. User picks are only scored at the end of each day, but I'd like to display live NBA results on the predictions page.
          p Thanks!
          p -Ryland
      

block scripts
  //- script(src='/js/bundle.js') 